felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\openHab2/addons"
felix.fileinstall.filename="file:/C:/openHab2/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\openHab2\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.0eb86255-d820-443c-ae87-7e8556636b4a"
