felix.fileinstall.active.level="90"
felix.fileinstall.dir="/Users/fabio/Desktop/openhab-2.4.0/addons"
felix.fileinstall.filename="file:/Users/fabio/Desktop/openhab-2.4.0/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/Users/fabio/Desktop/openhab-2.4.0/userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.37d52aa5-13a4-413f-8e06-954d55f9c0e6"
