felix.fileinstall.filename="file:/Users/fabio/Desktop/openhab-2.4.0/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:/Users/fabio/Desktop/openhab-2.4.0/runtime/system@id\=system.repository@snapshots,\ file:/Users/fabio/Desktop/openhab-2.4.0/userdata/tmp/kar@id\=kar.repository@multi@snapshots,\ file:/Users/fabio/Desktop/openhab-2.4.0/userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="/Users/fabio/Desktop/openhab-2.4.0/userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.4@id\=openhab,https://dl.bintray.com/openhab/mvn/online-repo/2.4@id\=openhab@snapshots"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
